* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* por padrao a font do navegador é 16px, definindo o root em 62.5% fica 10px */
    font-size: 62.5%;
}



h1 {
    /* crtl + espace  =  lista de cores padrão */
    color: #22ad8b;
    text-transform: capitalize;

    font-family: Nunito;
    text-align: center;
    /* 9rem equivale a 90px, no entanto fica responsivo */
    font-size: 7rem ;
    /* font-size: 70px; */
}

body {
    font-family: Nunito;
    text-align: justify;

    font-size: 1.5rem;

}

p {
    font-size: 2rem;
}


.bg {
    background-color: aliceblue;
    height: 50vh;
    /* porcentagem respeita o container pai, enquanto o vw (e vh) leva em consderação a página inteira */
    width: 80%;
    background-image: url('https://images.unsplash.com/photo-1567225557594-88d73e55f2cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80');
    background-size: cover; /* cover | contain */
    background-repeat: no-repeat;
    background-position: center;
    /* efeito paralax */
    background-attachment: fixed;
    
}


a {
    font-size: 2.4rem;
    color: #22ad8b;
}

a:visited {
    color: blueviolet;
}

a:hover {
    color: burlywood;
}



table, td, th {
    border: 2px solid #22ad8b;
}

/* Aqui funcionaria se o HTML nao tivesse organizado kk */
/* table tr:first-child {
    background-color: #22ad8b;
} */

table thead {
    background-color: #22ad8b;
    color: #fff;
}

/* linhas alternadas */
table tbody tr:nth-child(2n+2){
    background-color: #ebfffa;
}


table {
    font-size: 2.4rem;
    border-collapse: collapse;
}


ul, ol {
    /* se não tiver esse padding-left vc não vê os marcadores */
    padding-left: 5rem;
    list-style: circle;
}

ol {
    list-style: decimal-leading-zero;
}


.box {
    height: 100px;
    width: 200px;
    border: 1px solid #22ad8b;

    display: inline-block;
    /* display: inline; */

    margin: 1rem;

    border-radius: .5rem;

    padding: 2rem;

    position: relative;
}

.boxes {
    /* com o container pai das box na posição relativa, os box atualizam sua posição a partir dela e nao da tela toda */
    position: relative;
}

.box:nth-child(1){
    position: absolute;
    top: 10px;
    left: 20px;

    border: 2px solid red;
}

.box:nth-child(2) {
    position: fixed;

    top:0px;
    margin-top: 0;

    background-color: #22ad8b;
    color: #fff;
    height: 60px;
    width: 100%;
    font-size: 1.8rem;

    z-index: 1;
}

.box:nth-child(2) ul li {
    display: inline-block;
    margin: .5rem;
}

img {
    height: 10rem;
}



.lista-nomes h2{
    top: 56px;
    margin-left: 10px;
    padding-left: 20px;
    /* left: 50px; */
    position: sticky;
    background-color: #22ad8b;
    color: #fff;
}



.boxes2 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.box1{
    margin: 10px;
    padding: 10px;

    background-color: #22ad8b;
    color: #fff;
    font-size: 1.8rem;

    /* espaço que cada caixa ocupa no espaço */
    flex: 33.33%;
}

