:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: roboto;
    font-size: 1.4rem;
}





.boxes{
    /* border: 1px solid red; */
    height: calc(100vh);
    position: relative;

    display: flex;
    flex-wrap: wrap;
    
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* flex-flow: column wrap; */

    justify-content: flex-start ;

    /* align-items: center; */
    align-content: center;

    gap: 2rem 5rem;

    /* flex-basis:  50%; */


}

.box{
    /* margin: 5px; */
    min-height: 10rem;
    min-width: 20rem;

    background-color: #22ad8b;
    border:2px solid #000;
    color: #fff;
    font-size: 1.8rem;

    /* espaço que cada caixa ocupa no espaço */
    /* flex: 33.33%; */
    
    /* quantas unidades flexiveis disponiveis ele pode ocupar */
    flex: 1;
}



.box:nth-child(7){
    order: -1;
}


@media screen and (min-width: 1000px) {
    .bg{
        height: 20vh;
    }
}

@media screen and (min-width:767px) and (max-width: 999px) {
    .bg{
        height: 80vh;
    }
}


/* midia impressa */
@media print {
    .bg{
        display: none;
    }
}





table, td, th {
    border: 2px solid #22ad8b;
}

/* Aqui funcionaria se o HTML nao tivesse organizado kk */
/* table tr:first-child {
    background-color: #22ad8b;
} */

table thead {
    background-color: #22ad8b;
    color: #fff;
}

/* linhas alternadas */
table tbody tr:nth-child(2n+2){
    background-color: #ebfffa;
}


table {
    font-size: 2.4rem;
    border-collapse: collapse;
}


ul, ol {
    /* se não tiver esse padding-left vc não vê os marcadores */
    padding-left: 5rem;
    list-style: circle;
}

ol {
    list-style: decimal-leading-zero;
}


h1 {
    font-size: 3rem;

    /* visibility: hidden; */
    /* opacity: .5; */
}

.botao{
    margin: auto;
    width: 30rem;
    font-size: 3rem;
    cursor: pointer;
}

#button-saude {
    /* transform: scale(.8) rotate(5deg); */
    transition: all .2s, background-color 2s ;
    
}

#button-saude:hover {
    transform: scale(1.1);
    background-color: #22ad8b;
}

#button-site:hover{
    animation: pulsar 2s infinite;
    transform: scale(1);

    animation-direction: alternate;
}


.load{
    margin: 40px;
     
}


@keyframes pulsar {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
        opacity: .6;
    }
    100% {
        transform: scale(1);
    }
}